<!--p>tradebox works!</p-->
<div class="modal-header">
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
   <h5 class="modal-title">{{DataBuyObj['ticker']}}</h5>
   <button type="button" id="mybtn" class="btn btn-link"><span class="bi bi-x" (click)="buyModalService.dismiss('Cross click')"></span></button>
</div>
<div class="modal-body">
   <p>Current Price {{DataBuyObj['currentPrice']}}</p>
   <p>Money in wallet: $ {{balance}}</p>
   Quantity &nbsp;<input type="number" id="quantity" style="width: 7em" name="quantity" (keyup)="inputbox(quantity.value)" min="1" #quantity>
   <ng-template [ngIf]="warnbalanceFlag == true"><p style="color:red"><br>Not enough money in  wallet!</p></ng-template>
</div>
<div class="modal-footer">
  <span  class="mr-auto" >Total: {{DataBuyObj['total']}}</span>
  <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="buybtn()" [disabled]="warnbalanceFlag == true" style="backgroundColor:green;">Buy</button>
</div>
