<nav nav class="navbar navbar-expand-md navbar-dark sticky-top">
   <a class="navbar-brand" style="color:white">Stock Search</a>
   <button class="navbar-toggler btn btn-outline-primary" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"  aria-expanded="false" aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="navbarTogglerDemo02">
   <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="isCollapsed">
      <ul class="navbar-nav ml-auto">
         <li class="nav-item"><a class="nav-link" routerLink="">Search</a></li>
         <li class="nav-item"><a class="nav-link" routerLink="watchlist" >Watchlist</a></li>
         <li class="nav-item"><a class="nav-link" routerLink="portfolio" >Portfolio</a></li>
      </ul>
   </div>
</nav>
